*{margin: 0; padding: 0;}

body{
    overflow: hidden;
}

.bodyMenu{
    background-color: #9d5f7e;
    overflow: hidden;
}

.menu{
    background-color: #ab7690;
    float: left;
    list-style: none;
    margin-left: 400px;
    margin-top: 20px;
    position: relative;
    z-index: 99;
}

.menu li{
    position: relative;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 110px;
}

.menu li a{color:#fff; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background:#45102a;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    background-color: #ab7690;
    display: none;
    left: 0;
    position: absolute;
    top: 25px;
    width: 110px;
}

#home{
    margin-top: -5px;
}

.titulo{
    font-size: 12px;
    margin-top: 15px;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    display: block;
    margin-left: 0px;
    width: 110px;
}

#cadastrar, #pesquisar, #atualizar, #deletar{
    margin-top: 20px;
}

#addNota{
    height: 28px;
    margin-left: 50px;
    margin-top: 20px;
    width: 28px;
}

#valorMei{
    background-color: #e5f0fa;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 7rem;
    margin-left: 10px;
    margin-top: 10px;
    width: 22rem;
}

#valorNotas{
    background-color: #eef7ee;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}

#notasLancadas{
    background-color: #fef6ea;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}


#ultimaCompra{
    background-color: #f7dbda;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}

#pesquisar{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    outline: 0;
    width: 36rem;
}

.tabelaInformacao{
    height: 74.8vh;
    margin-top: 10px;
    overflow: auto;
}

.totalProdutos{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 40px;
    width: 20%;
}

.totalVendas{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 40px;
    width: 20%;
}