*{margin: 0; padding: 0;}

html {
    height: 100%;
    overflow: hidden;
}
  
body {
    font-family: sans-serif;
    margin:0;
    overflow: hidden;
    padding:0;
}

.images{
    text-align: center;
}
  
.login-box {
    background: #9d5f7e;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    left: 50%;
    padding: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 400px;
}
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #4c4c4c;
    font-size: 12px;
}

.bodyMenu{
    background-color: #9d5f7e;
    overflow: hidden;
    zoom: 100%;
}

.menu{
    background-color: #ab7690;
    float: left;
    list-style: none;
    margin-left: 430px;
    margin-top: 20px;
    position: relative;
    z-index: 99;
}

.menu li{
    position: relative;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 110px;
}

.menu li a{
    color:#fff; 
    display:block;
    padding:5px 10px; 
    text-decoration:none; 
}

.menu li a:hover{
    background:#45102a;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li ul{
    background-color: #ab7690;
    display: none;
    left: 0;
    position: absolute;
    top: 25px;
    width: 110px;
}

#home{
    margin-top: -5px;
}

.titulo{
    font-size: 12px;
    margin-top: 15px;
}

.menu li:hover ul, .menu li.over ul{display:block; height: 50px;}

.menu li ul li{
    display: block;
    margin-left: -30px;
    width: 110px;
}

.layoutCadastrar{
    background-color: #ab7690;
    border-radius: 5px;
    height: 90px;
    margin-top: 5px;
}

#cadastrar, #atualizar, #deletar{
    margin-top: 20px;
}

#addNota{
    height: 28px;
    margin-left: 50px;
    margin-top: 20px;
    width: 28px;
}


#valorMei{
    background-color: #e5f0fa;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 7rem;
    margin-left: 10px;
    margin-top: 10px;
    width: 22rem;
}

#valorNotas{
    background-color: #eef7ee;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}

#notasLancadas{
    background-color: #fef6ea;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}


#ultimaCompra{
    background-color: #f7dbda;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 80px;
    height: 7rem;   
    margin-top: 10px;
    width: 22rem;
}

#pesquisar{
    border: 1px solid #337ab7;
    border-radius: 5px;
    height: 35px;
    line-height: 0px;
    padding: 10px;
    margin-top: 20px;;
    outline: 0;
}

.tabelaInformacao{
    height: 74.8vh;
    margin-top: 10px;
    overflow: auto;
}

.totalNotas{
    background-color: #ab7690;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 7rem;
    margin-top: 40px;
    padding: 5px;
    width: 25%;
}

.legendaCards{
    color: #FFF;
}

.totalProdutos{
    background-color: #ab7690;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 7rem;
    margin-left: 35px;
    margin-top: 40px;
    padding: 5px;
    width: 25%;
}

.totalVendas{
    background-color: #ab7690;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 7rem;
    margin-left: 35px;
    margin-top: 40px;
    padding: 5px;
    width: 25%;
}

.tabelaVencimento{
    font-size: 12px;
    height: 62vh;
    margin-left: -10px;
    margin-top: 15px;
    width: 55.7%;
}

.viewThead{
    background-color: #45102a;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.tableSell{ 
    height: 50vh;
    margin-top: 10px;
    overflow: auto;
    text-align: center;
}

.rowSell{
    margin-top: 10px;
}

#lblCompra{
    color: #000;
    font-size: 20px;
    margin-top: 18px;
}

.totalSell{
    border: 1px solid lightgray;
    border-radius: 5px;
    color: red;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    outline: 0;
    width: 100%;
}

#acessar{
    background-color: #7a7a7a; 
    border-color: #7a7a7a;
    margin-top: 10px;

}

#progressBar{
    background-color: darkgray;
    margin-top: -20px;
}

.info_progress{
    margin-top: -20px;
}

#carregando{
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    margin-top: -20px;
}

.progress{
    height: 10px;
}

#carregandoInformacao{
    color: #FFF;
    font-size: 12px;
    font-style: italic;
}
